jobs:
    Build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Set up JDK 8
              uses: actions/setup-java@v2
              with:
                  distribution: "adopt"
                  java-version: "8"
            - name: Cache Gradle packages
              uses: actions/cache@v2
              with:
                  key: ${{runner.os}}-gradle-caches
                  path: |
                      ~/.gradle/caches
                      ~/.gradle/wrapper
                      .m2
                      .gradle
                      /home/runner/.liferay
            - name: Set SAIN_MODULE_VERSION env
              run: echo "SAIN_MODULE_VERSION=$(bash ./module-version.sh)" >> $GITHUB_ENV
            - name: echo SAIN_MODULE_VERSION
              run: echo ${{env.SAIN_MODULE_VERSION}}
            - name: create backup from build.properties file
              run: mv build.properties build.properties.bak
            - name: Change Some Values in build.properties File
              run: >
                  cat build.properties.bak | sed 's/#baseline.jar.report.level=off/baseline.jar.report.level=off/g ; s/baseline.jar.report.level=persist/#baseline.jar.report.level=persist/g ; s/org.gradle.daemon=true/org.gradle.daemon=false/g' > build.properties
            - env:
                  ANT_OPTS: "-Xmx2g"
              name: Build with Ant
              run: ant compile install-portal-snapshots
            - env:
                  ANT_OPTS: "-Xmx4g"
              name: run module builder script
              run: bash ../module-builder.sh
              working-directory: ./modules
            - name: move files to SAIN-Bundles
              run: mkdir SAIN-bundles && mv /home/runner/work/liferay-portal/bundles/ SAIN-bundles/
            - name: Login to Docker Hub
              uses: docker/login-action@v1
              with:
                  password: ${{secrets.DOCKER_HUB_PASSWORD}}
                  username: ${{secrets.DOCKER_HUB_USERNAME}}
            - name: Login to SAIN repository
              uses: docker/login-action@v1
              with:
                  password: ${{secrets.SAIN_REPO_PASSWORD}}
                  registry: repo.sain.ir
                  username: ${{secrets.SAIN_REPO_USERNAME}}
            - id: buildx
              name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1
            - id: docker_build
              name: Build and push with latest tag
              uses: docker/build-push-action@v2
              with:
                  context: ./
                  file: ./Dockerfile
                  push: true
                  tags: |
                      repo.sain.ir/liferay/portal-737-ga8:latest
                      repo.sain.ir/liferay/portal-737-ga8:${{env.SAIN_MODULE_VERSION}}
name: "Liferay CI Build Docker Image"
on:
    push:
        branches:
            - sain-7.3.x